.Row{
    display: flex;
    flex-direction: row;
    grid-gap: 2rem;
    align-items: center;
}
.Row h4{
    font-size: 0.75rem;
    color: grey;
    font-weight: normal;
}
.RowSeats{
    display: flex;
    flex-direction: row;
    grid-gap:0.5rem;
}
.RowHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}