.Main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Summary{
    padding: 1rem;
    max-width: 540px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Seats{
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    margin-top: 1.5rem;
}
.SelectedSeat{
    border-bottom:1px solid rgb(228, 221, 221) ;
    padding: 0.5rem 0;
   
}
.SelectedSeat h3{
    font-size: 1rem;
}
.ConfirmButton{
    color: white;
    background-color: rgb(227, 61, 89);
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    margin-top: 1rem;
}
.ConfirmButton:hover{
    background-color: rgb(235, 138, 155);
   
}
.ConfirmationForm{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
    padding: 2rem 0;
}
.ConfirmationForm input{
    padding: 0.5rem;
}